@model Practical_Test_Application.Models.Clients


@{
ViewData["Title"] = "AddClientForm";
}

<h1>AddClientForm</h1>

<h4>Clients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-bs-target
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form asp-action="ClientForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="clientCode" class="control-label"></label>
                        <input asp-for="clientCode" class="form-control" readonly=""/>
                        <span asp-validation-for="clientCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="firstName" class="control-label"></label>
                        <input asp-for="firstName" class="form-control"/>
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="lastName" class="control-label"></label>
                        <input asp-for="lastName" class="form-control"/>
                        <span asp-validation-for="lastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="contact" class="control-label"></label>
                        <input asp-for="contact" class="form-control"/>
                        <span asp-validation-for="contact" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                Button with Non data-bs-target
            </button>
        </p>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.clientCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.firstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.lastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.lastName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.contact)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in (List<Practical_Test_Application.Models.Clients>)ViewBag.ClientsList) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.clientCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contact)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

