@model IEnumerable<Practical_Test_Application.Models.Contacts>

@{
    ViewData["Title"] = "ShowContacts";
}

<h1>ShowContacts</h1>

<p>
    <a asp-action="CreateContacts">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrOfLinkedClients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrOfLinkedClients)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditContacts", new { id=item.contactId })
            </td>
        </tr>
}
    </tbody>
</table>
